# Import des library

In [73]:
# Import des librarys
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Import des données

In [74]:
# import des datas
netflix_data=pd.read_csv('/Users/abdul/Desktop/R_data_science/R_data/netflix_titles.csv')

# Observation rapide

In [75]:
# Visualisation
netflix_data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [76]:
netflix_data.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [77]:
# Observation du type de chaque variables
for col_name,col_type in netflix_data.dtypes.items():
    print(col_name,  col_type)

show_id int64
type object
title object
director object
cast object
country object
date_added object
release_year int64
rating object
duration object
listed_in object
description object

In [78]:
# Vérification que la variable d'identification est bien unique
print(netflix_data['show_id'].nunique())
print(netflix_data.shape)

6234
(6234, 12)

# Vérification des valeurs manquantes

In [79]:
netflix_data.isna().sum()

show_id            0
type               0
title              0
director        1969
cast             570
country          476
date_added        11
release_year       0
rating            10
duration           0
listed_in          0
description        0
dtype: int64

On remarque que des variables ont énormément des valeurs manquantes, un travail devra y être consacrée afin d' identifier l'origine du problème et de le corriger avant exploitation plus poussée.

# Analyses rapide

In [80]:
# Nombre de film et série au cours du temps
netflix_data.groupby(['type', 'release_year']).size().unstack(fill_value=0)

release_year,1925,1942,1943,1944,1945,1946,1947,1954,1955,1956,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
type,,,,,,,,,,,,,,,,,,,,,
Movie,0,2,3,3,3,2,1,1,1,1,...,100,125,177,213,363,593,682,646,400,6
TV Show,1,0,0,0,0,1,0,0,0,0,...,36,58,60,75,154,237,277,417,443,19

In [30]:
# Nombre total de film et série avec pourcentage
total_movies_tv = netflix_data['type'].value_counts()
percentage_movies_tv = total_movies_tv / total_movies_tv.sum() * 100
print(total_movies_tv)
print(percentage_movies_tv)
# Count plot
#plt.figure(figsize=(20, 10))
#sns.countplot(data=netflix_data, x='release_year', hue='type')

type
Movie      4265
TV Show    1969
Name: count, dtype: int64
type
Movie      68.415143
TV Show    31.584857
Name: count, dtype: float64

In [81]:
# Nombre film et série par pays
netflix_data.groupby(['type', 'country']).size().unstack(fill_value=0)

country,Argentina,"Argentina, Brazil, France, Poland, Germany, Denmark","Argentina, Chile","Argentina, Chile, Peru","Argentina, France","Argentina, France, Germany","Argentina, Italy","Argentina, Spain","Argentina, United States","Argentina, United States, Mexico",...,"United States, United Kingdom, Spain, South Korea","United States, Uruguay","United States, Venezuela",Uruguay,"Uruguay, Argentina, Spain","Uruguay, Spain, Mexico",Venezuela,"Venezuela, Colombia",Vietnam,West Germany
type,,,,,,,,,,,,,,,,,,,,,
Movie,26,1,1,1,1,1,2,6,1,0,...,1,1,1,2,1,1,1,1,4,1
TV Show,12,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [83]:
# TOP 10 des classements de film (équivalent PEGI fr)
netflix_data['rating'].str.split(', ', expand=True).stack().value_counts().head(10)

TV-MA    2027
TV-14    1698
TV-PG     701
R         508
PG-13     286
NR        218
PG        184
TV-Y7     169
TV-G      149
TV-Y      143
Name: count, dtype: int64

In [84]:
# Durée moyenne série en saisons et fime en minutes
netflix_data['duration'] = netflix_data['duration'].str.replace(' min', '').str.replace(' Season', '').str.replace(' Seasons', '')
netflix_data['duration'] = pd.to_numeric(netflix_data['duration'], errors='coerce')
average_duration = netflix_data.groupby('type')['duration'].mean()
average_duration

type
Movie      99.100821
TV Show     1.000000
Name: duration, dtype: float64